<h2>all your conversations</h2>
<p>Sent Messages</p>
<% @user_chatrooms.each do |chatroom| %>
  <%= link_to chatroom_path(chatroom), class: "chatroom-link" do %>
    <div class="chat-container card-message avatar">
      <%= image_tag(chatroom.user.image, width: "100")  %>
      <h2><%= chatroom.sphere.title %></h2>
      <p><%= chatroom.user.email %></p>
    </div>
  <% end %>
<% end %>

<p>Sphere Requests</p>

<% @spheres_chats.each do |chatroom| %>
  <% if chatroom.length > 0 %>
    <%= link_to chatroom_path(chatroom.first), class: "chatroom-link" do %>
     <div class="chat-container card-message">
        <%= image_tag(chatroom.first.user.image, width: "100")  %>
        <h2><%= chatroom.first.sphere.title %></h2>
        <p><%= chatroom.first.user.email %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
