<div class="edit-banner"><%= @chatroom.sphere.title %></div>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>

<div class="d-flex justify-content-between">
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, label_html: { class: 'btn-yellow' }, placeholder: "write a message" %>
    <%= f.submit 'send', class: "btn-yellow chat-send" %>
    <%= link_to 'back', sphere_path(@chatroom.sphere), class: 'btn-chat-back-sphere'%>
  <% end %>

</div>

