<div class="page-container">
  <div class="container mt-4">
    <div class="edit-banner"> all your bookings </div>

    <div class="spheres-container">
      <% @bookings.each do |booking| %>


      <div class="card-sphere">


        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% if booking.sphere.photos.attached? %>
              <% booking.sphere.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%='active' if index == 0 %>">
                  <%= cl_image_tag photo.key, height: 250, width: 400, crop: :fill, class: "d-block w-100", alt: "pictures of the apartment" %>
                </div>
              <% end %>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>


        <div class="card-sphere-infos">
          <h5><%= booking.sphere.title %></h5>
          <p> from <%= booking.starttime.strftime("%I:%M %p")  %> to <%= booking.endtime.strftime("%I:%M %p") %></p>
          <p> 💲 Cost per day: <%= booking.cost_per_day %></p>
          <% if policy(booking).destroy? %>
          <p><%= link_to '🗑 cancel booking ', booking, method: :delete, data: { confirm: 'are you sure?' } %></p>
          <% end %>
        </div>
      </div>
      <% end %>

    </div>

  </div>
</div>



