<div class="page-container">
  <div class="container mt-4">

    <div class="edit-banner" style="background-color: $yellow, linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      book a sphere
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <!--     <p>Price per day: @sphere.price %></p> -->

          <%= simple_form_for ([ @sphere, @booking ]) do |f| %>
          <%= f.input :date %>
          <%= f.input :starttime %>
          <%= f.input :endtime %>
          <br>
          <%= f.submit "instant booking", class: "btn-yellow" %>
          <% end %>
</div>
