<!-- user/show.html.erb -->
<div class="edit-banner margin" style="background-color: $yellow, linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
  <% if @user == current_user %>
    <h3>You</h3>
  <% else %>
    <h3><%= @user.name %></h3>
  <% end %>
</div>
<img src="<%= @user.image %>" class="card-sphere-user avatar-bordered middle" style="height: 200px" alt="avatar of user" />


<%#= render @user %>
<!-- follow -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12-users padding-top" style="padding-top: 210px;">

      <button class="box button btn btn-yellow home middle" style="text-decoration: none; list-style-type: none"><%= render 'user', user: @user %></button>
      
      <div class="card-body d-flex justify-content-center" style="padding-top: 60px;">
        <%= link_to 'go back', sphere_path, class: 'btn btn-light' %>
      </div>
    </div>

<div class="container" style="padding-top: 0px; padding-bottom: 60px;">
<h1 style="font-size: 28px;"> all your messages with this user: </h1>

<%= render @messages %>

<%# @messages.each do |message| %>
  <%#= message %>
<%# end %>
</div>
</div>
</div>
