<div class="navbar">

  <div class="navbar-items">
<!--     <%= link_to "ðŸ”", root_path, class: "nav-item" %> -->
    <%= link_to icon('fas', 'search'), root_path, class: "nav-item" %>
    <%= link_to icon('fas', 'plus'), new_sphere_path, class: "nav-item" %>
    <%= link_to icon('fas', 'calendar'), bookings_path, class: "nav-item" %>
    <%= link_to icon('fas', 'user'), pages_contact_path, class: "nav-item" %>
  </div>
</div>

<!-- <%= link_to "âž•", new_sphere_path, class: "nav-item" %>
    <%= link_to "ðŸ—“", bookings_path, class: "nav-item" %> -->
<!-- <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar nav-item img-responsive"), pages_contact_path, class: "nav-item" %> -->

