<div class="navbar">

  <div class="navbar-items">
    <%= link_to "ðŸ”", root_path, class: "nav-item" %>
    <%= link_to "âž•", new_sphere_path, class: "nav-item" %>
    <%= link_to "ðŸ—“", bookings_path, class: "nav-item" %>
    <%= link_to "ðŸ—ž", "#", class: "nav-item" %>
    <% if user_signed_in? %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar nav-item", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-item" %>
    <% end %>
  </div>

</div>

<!--   <%= link_to icon('fas', 'search'), root_path, class: "nav-item" %>
 -->
