<div class="page-container">
<div class="container mt-4">
  <div class="edit-banner"> your apartments </div>

  <% @spheres.each do |sphere|  %>
    <div class="card-sphere-show-contact">
        <% if sphere.photos.attached? %>
          <% sphere.photos.each do |photo| %>
            <%= cl_image_tag photo.key, alt: "pictures of the apartment" %>
          <% end %>
        <% else %>
          <%= image_tag "spheres/#{rand(1..6)}.jpg" %>
        <% end %>

        <div class="card-sphere-show-infos">

            <p> address: <%= sphere.address.downcase  %></p>
            <p> description: <%= sphere.description %></p>
            <p> contact host: <%= sphere.user.email %></p>
            <p> read reviews: </p>
            <p class="card-sphere-show-pricing"> cost per hour: <%= sphere.cost_per_day %>€</p>
          </div>
        </div>

  <% end %>

  <div class="logout">
    <% if user_signed_in? %>
        <div class="edit-banner"> log out </div>
        <%= link_to "log out here", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    <% else %>
      <div class="edit-banner"> log in </div>
        <%= link_to "Login", new_user_session_path, class: "nav-item" %>
    <% end %>
  </div>

    <div class="footer-links">
      <div class="edit-banner"> contact us </div>
      <a href="#"><i class="fab fa-github"></i></a> -
      <a href="#"><i class="fab fa-instagram"></i></a> -
      <a href="#"><i class="fab fa-facebook"></i></a> -
      <a href="mailto:hello@balconia.xyz">hello@balconia.xyz</a>
      <p><i class="fas fa-heart", color: yellow></i> share your thoughs! </p>
    </div>
</div>
</div>



