<div class="card-sphere">
<div id="background-homepage">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="home-content text-center">

          <div class="box">

            <%= image_tag "illustration1.jpg", class:"home-image" %>

            <h1 style="font-size: 36px; font-weight: bold;">balconia</h1>
            <h3>find your dream workplace</h3>
            <p>all the comfort of your own home <br> - only better!</p>

            <div class="form">
              <%= simple_form_for :search, url: spheres_path, method: :get do |f| %>
              <div class="search-form-control form-group">

              <%= form_tag spheres_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control string required",
                placeholder: "Enter your city"
                %>
                <%= submit_tag "Explore our spheres", class: "btn-searchbar" %>
              <% end %>

              </div>
              <% end %>
              <div class="container d-flex justify-content-center">

              <button class="box button btn btn-light"><%= link_to "Offer your sphere",  new_sphere_path %></button>


              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
