
<%= simple_form_for :search, url: spheres_path, method: :get do |f| %>
  <div class="search-form-control form-group">

    <%= form_tag spheres_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control string required",
      placeholder: "Find a sphere in your city ðŸ“"
      %>
      <%= submit_tag "Search", class: "btn-searchbar btn-flat" %>
    <% end %>

  </div>
<% end %>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url(bannerspheres.jpg);">
  <div class="container d-flex justify-content-center">

    <button class="btn a"><%= link_to "Add your own sphere",  new_sphere_path %></button>

  </div>
</div>

