<div class="col-12 map-container">
  <div id="map"
  style="width: 100%; height: 700px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="map-filters">
  <div class="map-filters-toggle">
    <i class="fas fa-sliders-h"></i>
  </div>
  <%= simple_form_for :search, method: :get do |f| %>
    <div>
      <%= f.check_box :barbecue, { checked: params[:search].present? && params[:search][:barbecue] ? true : false }, true, false %>
      <%= f.label :barbecue %>
    </div>
    <div>
      <%= f.check_box :balcony, { checked: params[:search].present? && params[:search][:balcony] ? true : false }, true, false %>
      <%= f.label :balcony %>
    </div>
    <div>
      <%= f.check_box :sunny, { checked: params[:search].present? && params[:search][:sunny] ? true : false }, true, false %>
      <%= f.label :sunny %>
    </div>
    <div>
      <%= f.check_box :quiet, { checked: params[:search].present? && params[:search][:quiet] ? true : false }, true, false %>
      <%= f.label :quiet %>
    </div>
    <div>
      <%= f.check_box :garden, { checked: params[:search].present? && params[:search][:garden] ? true : false }, true, false %>
      <%= f.label :garden %>
    </div>
    <div>
      <%= f.check_box :terrace, { checked: params[:search].present? && params[:search][:terrace] ? true : false }, true, false %>
      <%= f.label :terrace %>
    </div>
    <div>
      <%= f.check_box :plants, { checked: params[:search].present? && params[:search][:plants] ? true : false }, true, false %>
      <%= f.label :plants %>
    </div>
    <div>
      <%= f.check_box :spacious_desk, { checked: params[:search].present? && params[:search][:spacious_desk] ? true : false }, true, false %>
      <%= f.label :spacious_desk %>
    </div>
    <div>
      <%= f.check_box :highspeed_wifi, { checked: params[:search].present? && params[:search][:highspeed_wifi] ? true : false }, true, false %>
      <%= f.label :highspeed_wifi %>
    </div>
    <div>
      <%= f.check_box :cozy, { checked: params[:search].present? && params[:search][:cozy] ? true : false }, true, false %>
      <%= f.label :cozy %>
    </div>
    <%= f.submit "filter" %>
  <% end %>
</div>

<div class="overlay"></div>
