<<<<<<< HEAD
<%query = params[:search][:query] if !params[:search].nil?%>
  <%balcony = params[:search][:balcony] if !params[:search].nil?%>
  <%sunny = params[:search][:sunny] if !params[:search].nil?%>
  <%price = params[:search][:booking] if !params[:search].nil?%>


  <%= simple_form_for :search, url: spheres_path, method: "GET", html: { class: 'form-remove-b-margin', id: 'autosubmit-form' } do |f| %>
      <%=f.input :balcony, as: :boolean, input_html: {class: 'input-field simple_form-align mb-2', value: balcony}%>
      <%=f.input :sunny, as: :boolean, input_html: {class: 'input-field simple_form-align mb-2', value: sunny}%>
      <%= f.submit %>
      <h5 class="mb-2">Amenities</h5>
  <% end %>



<div class="col-12">
=======
<div id="map_view" class="col-12">
>>>>>>> 0c4aaf7127ca946b068dcc4893cfb9346391f23b
  <div id="map"
  style="width: 100%; height: 700px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
    <button id="list_button" class="btn-yellow flex-item">List View</button>
</div>
<<<<<<< HEAD
=======

<%= form_for :search, method: :get do |f| %>
  <%= f.check_box :balcony %>
  <%= f.check_box :sunny %>
  <%= f.check_box :quiet %>
  <%= f.check_box :garden %>
  <%= f.submit "filter" %>
<% end %>

<%= form_tag spheres_path, method: :get do %>
  <%= select_tag(:price, options_for_select(["below 10", "below 5", "free"], selected: params[:price]), :include_blank => "Price") %>
  <%= submit_tag "Filter!", class: "btn btn-flat" %>
  <% end %>


<div id="list_view" class="col-12 hidden">
        <% @spheres.each do |sphere| %>
          <div class="card-sphere">

            <% if sphere.photo.attached? %>
            <%= cl_image_tag sphere.photo.key, crop: :fill %>
            <% else %>
            <%= image_tag "spheres/#{rand(1..6)}.jpg" %>
            <% end %>

            <div class="card-sphere-infos">
              <%= link_to sphere.title, sphere_path(sphere) %>
              <p>Living in <%= sphere.address %></p>
              <p>Cost per day: <%= sphere.price %>€</p>
            </div>
          </div>
        <% end %>
        <button id="map_button" class="btn-yellow flex-item">Map View</button>
      </div>

>>>>>>> 0c4aaf7127ca946b068dcc4893cfb9346391f23b
