<div id="map_view" class="col-12 map-container">
  <div id="map"
  style="width: 100%; height: 700px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <button id="list_button" class="btn-yellow flex-item">list view</button>
</div>

<div class="map-filters">
  <div class="map-filters-toggle">
    <i class="fas fa-sliders-h"></i>
  </div>
  <%= simple_form_for :search, method: :get do |f| %>
    <div>
      <%= f.check_box :barbecue, { checked: params[:search].present? && params[:search][:barbecue] ? true : false }, true, false %>
      <%= f.label :barbecue %>
    </div>
    <div>
      <%= f.check_box :balcony, { checked: params[:search].present? && params[:search][:balcony] ? true : false }, true, false %>
      <%= f.label :balcony %>
    </div>
    <div>
      <%= f.check_box :sunny, { checked: params[:search].present? && params[:search][:sunny] ? true : false }, true, false %>
      <%= f.label :sunny %>
    </div>
    <div>
      <%= f.check_box :quiet, { checked: params[:search].present? && params[:search][:quiet] ? true : false }, true, false %>
      <%= f.label :quiet %>
    </div>
    <div>
      <%= f.check_box :garden, { checked: params[:search].present? && params[:search][:garden] ? true : false }, true, false %>
      <%= f.label :garden %>
    </div>
    <div>
      <%= f.check_box :terrace, { checked: params[:search].present? && params[:search][:terrace] ? true : false }, true, false %>
      <%= f.label :terrace %>
    </div>
    <div>
      <%= f.check_box :plants, { checked: params[:search].present? && params[:search][:plants] ? true : false }, true, false %>
      <%= f.label :plants %>
    </div>
    <div>
      <%= f.check_box :spacious_desk, { checked: params[:search].present? && params[:search][:spacious_desk] ? true : false }, true, false %>
      <%= f.label :spacious_desk %>
    </div>
    <div>
      <%= f.check_box :highspeed_wifi, { checked: params[:search].present? && params[:search][:highspeed_wifi] ? true : false }, true, false %>
      <%= f.label :highspeed_wifi %>
    </div>
    <div>
      <%= f.check_box :cozy, { checked: params[:search].present? && params[:search][:cozy] ? true : false }, true, false %>
      <%= f.label :cozy %>
    </div>
    <div>
      <%= select_tag(:cost_per_day, options_for_select(["below 20", "below 10", "free"], selected: params[:cost_per_day]), :include_blank => "cost per day") %>
    </div>
    <%= f.submit "filter" %>
  <% end %>
  <br>



</div>

<div class="overlay"></div>


<div id="list_view" class="col-12 hidden">

        <% @spheres.each do |sphere| %>
          <div class="card-sphere">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% if sphere.photos.attached? %>
              <% sphere.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%='active' if index == 0 %>">
                  <%= cl_image_tag photo.key, height: 250, width: 400, crop: :fill, class: "d-block w-100", alt: "pictures of the apartment" %>
                </div>
              <% end %>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

            <div class="card-sphere-infos">
              <%= link_to sphere.title, sphere_path(sphere) %>
              <p>Located at <%= sphere.address %></p>
              <p>Cost per day: <%= sphere.cost_per_day %>€</p>
            </div>
          </div>
        <% end %>

        <button id="map_button" class="btn-yellow flex-item">map view</button>
</div>
</div>
