<div class="edit-banner"> share your sphere </div>
<div class="container mt-4">

    <div id="edit-form">
          <div class="mt-3">
                      <div class="row">
                        <div class="col-12">
                              <%= simple_form_for(@sphere) do |f| %>
                                  <div class="form-group">

                                    <%= f.label :title, class: "lowercase" %>
                                    <%= f.text_field :title, class: 'form-control', placeholder: ' Sunny rooftop terrace...' %>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :description, class: "lowercase" %>
                                    <%= f.text_field :description, class: 'form-control', placeholder: ' Enjoy the warm summer vibes...' %>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :address, class: "lowercase" %>
                                    <%= f.text_area :address, class: 'form-control', placeholder: ' 1 Paradise Road, Berlin...' %>

                                  </div>
                                    <div class="form-group">
                                    <%= f.label :cost_per_day, class: "lowercase" %>
                                    <%= f.number_field :cost_per_day, class: 'form-control', placeholder: " €" %>
                                  </div>

                                  <div class="form-group lowercase">
                                    <%= f.label :photos %>
                                    <%= f.input :photos, as: :file, input_html: { multiple: true }, class: 'form-control', label: false %>
                                  </div>

                               <div class="form-check">
                                    <%= f.check_box :balcony, class:"form-check-input" %>
                                    <%= f.label :balcony, class: "lowercase form-check-label" %>
                                  </div>

                                  <div class="form-check">
                                    <%= f.check_box :garden, class:"form-check-input" %>
                                    <%= f.label :garden, class: "lowercase form-check-label" %>
                                  </div>

                                  <div class="form-check">
                                    <%= f.check_box :terrace, class:"form-check-input" %>
                                    <%= f.label :terrace, class: "lowercase form-check-label" %>
                                  </div>

                                  <div class="form-check">
                                    <%= f.check_box :sunny, class:"form-check-input" %>
                                    <%= f.label :sunny, class: "lowercase form-check-label" %>
                                  </div>
                              <div class="form-check">
                                    <%= f.check_box :highspeed_wifi, class:"form-check-input" %>
                                    <%= f.label :highspeed_wifi, class: "lowercase form-check-label" %>
                                  </div>

                                  <div class="form-check">
                                    <%= f.check_box :plants, class:"form-check-input" %>
                                    <%= f.label :plants, class: "lowercase form-check-label" %>
                                  </div>

                               <div class="form-check">
                                    <%= f.check_box :quiet, class:"form-check-input" %>
                                    <%= f.label :quiet, class: "lowercase form-check-label" %>
                                  </div>

                                  <div class="form-check">
                                    <%= f.check_box :spacious_desk, class:"form-check-input"%>
                                    <%= f.label :spacious_desk, class: "lowercase form-check-label" %>
                                  </div>

                                  <div class="form-check">
                                    <%= f.check_box :barbecue, class:"form-check-input" %>
                                    <%= f.label :barbecue, class: "lowercase form-check-label" %>
                                  </div>

                                  <div class="form-check">
                                    <%= f.check_box :cozy, class:"form-check-input" %>
                                    <%= f.label :cozy, class: "lowercase form-check-label" %>
                                  </div>

                                  <div class="form-check">
                                    <%= f.check_box :pet_friendly, class:"form-check-input"%>
                                    <%= f.label :pet_friendly, class: "lowercase form-check-label" %>
                                  </div>


                                  <div class="mt-3">
                                    <div class="d-flex justify-content-around">
                                      <%= f.submit "add", class: 'btn-yellow' %>
                                      <%= link_to 'cancel', spheres_path, class: 'btn-light' %>
                                    </div>
                                  </div>
                              <% end %>
                              </div>
                        </div>
                </div>
            </div>
  </div>
  <br>
