<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Balconia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

  </head>

  <body>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <%= render 'shared/statusbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

  <% if controller_name != 'pages' && action_name != 'home' %>
    <%= render 'shared/navbar' %>
  <% end %>



  </body>
</html>
