<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Balconia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<!--     <link rel="icon" href="balconia-logo.png">
    <link rel="shortcut icon" href="balconia-logo.png">
    <link rel="apple-touch-icon" href="balconia-logo.png"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <meta charset="utf-8">

  </head>

  <body style="padding-bottom: 0px;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <%= render 'shared/statusbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

  <% if params[:action] != 'home' %>
    <%= render 'shared/navbar' %>
  <% end %>

  </body>
</html>
